body    {
    background-color: cornflowerblue;
}

h1      {
    color: goldenrod;
    font-size: 28pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol      {
    color: blue;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif
}